#box{
    border: 1px solid black;
    height: 100px;
    width: 100px;
    margin: auto;
}

.red{
    background: red;
}

.green{
    background: green;
}

.yellow{
    background: yellow;
}

.on{
    font-weight: bold;
    background: green;
    color: white;
}

.off{
    font-weight: bold;
    background: red;
    color: white;
}

